@font-face {
    font-family: 'grandslangroman';
    src: url('../assets/grandslang-roman.woff2') format('woff2'), url('../assets/grandslang-roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* java-script */

section.collage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

img {
    position: fixed;
    top: 200px;
    left: 200px;
    transform: translate(-50%, -50%) scale(0.3);
    animation: fadein 1s;
    cursor: pointer;
    z-index: -1;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* header */

header {
    position: absolute;
    top: 10%;
    right: 12%;
    z-index: 1;
    text-align: center;
    background-color: white;
}

.button {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

hr {
    position: relative;
    width: 100px;
}

.page-wrapper {
    margin: 4% 4%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
}

/* textes */

body {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
}

h2 {
    font-family: 'grandslangroman';
    font-size: 49px;
    font-weight: normal;
    margin-top: 3%;
    margin-bottom: 2%;
}

h3 {
    font-weight: 500;
    margin-bottom: 0px;
}

.description {
    font-style: italic;
    margin: 0;
    text-decoration: none;
}

.date, .texte {
    margin: 0.4%;
}

.mail {
    position: absolute;
    z-index: 1;
    margin-left: 0;
    margin-top: -4px;
    text-decoration: none;
    color: black;
}

.texte_bold {
    font-weight: 600;
    font-style: normal;
}